
@import "tailwindcss"

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family:"Inter", sans-serif;}

 * {
  background-color:#1A0B2E;
  color:white;
  font-family:"Inter", sans-serif;
 } 
.menu{
  color:white;
 }

 .topbar{
  display: flex;
  justify-content: space-between;
  margin: 10px 200px; 
  color:white;
 }


.logo{
  width:219px;
  height:32px;
  font-size: 32px;
  font-weight:700;
  color:white;
  padding-top:28px;
   
}
.logo span{
  background: linear-gradient( 90deg
  #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  display: inline-block;
  overflow: visible ;
}
.menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 16px;
  font-family: 700;
  gap:14px;
  padding: 36px 300px 36px 320px;
}

 .btn{
  display: flex;
  font: 20px;
  gap:5px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 300px;

  

 }

 /* hero-section */
.hero-section{
height: 100vh;
position:relative;
display: flex ;
align-items: center;
justify-content: center;
border:2px solid white;
}

/* wave-bg */

.hero-bg{
  position: absolute;
  background: url(../Images/hero-bg.png);
  width:100%;
}
 
.hero-content{
  position:relative;
  text-align: center;
  z-index: index 2;
 
}

.circle-image{
  width:350px;
  height:350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.m-image{
  width:117px;
  height:175px;
}
.hero-content h1{
   font:60px;
   color:#FFFFFF;
   font-weight: bolder;
   margin-top: 40px;
   margin-bottom:8px;
}

  .hero-content p{
  font:12px;
  color:#FFFFFF;
  font-weight: normal;
  margin-bottom: 24px;
  }

.btn-types{
  display: flex;
  justify-content: center;
  padding:10px 18px;
  border: 5px;
  border-radius: 20px;
  gap:14px;

}

.btn-1 .btn-2{
  font:14px;
  color:#ffffff;
}

.about{
  margin:50px 200px 120px 200px;
  border:2px solid white;

}

.about-content{
  margin:50px 200px 80px 200px;

}
 .followers{
  margin: 80px 200px 50px 200px;
  border:2px solid white;
  list-style:none;
  display: flex;
  justify-content: space-around;
  font:48px;
  font-weight:bolder;
  color:#00FF88;
 }

.choose-techwave h1{
  font-size: 48px;
  font-weight: bold;
  padding:120px 200px 40px 200px;
  text-align: center;
 

}

.seclect-techwave>*{
   background-color: #230E3D;
   padding:40px 200px 120px 200px;
   border-radius:5px;
   
}

.seclect-techwave p{

  background-color: #230E3D;

}

.headphone{
  grid-area:headphone;

}
.device{
  grid-area: device;
  
}
.location{
  grid-area: location;
}

.interviews{
  grid-area:interviews;
}

.resource{
  grid-area:resource;
}

.seclect-techwave{
  display: grid;
  gap:20px;
  grid-template-areas: 
    
     "headphone device device"
     "headphone location location"
     "interviews interviews resource"
}

.host{
  color:#230E3D;
  background-color: #1A0B2E;
  
}


.host-title{
  margin: 120px 200px 40px 200px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.host-info{
  display: flex;
  margin: 120px 200px 40px 200px;
  gap:30px;
  align-content: center;
  color:#230E3D;
  border: 2x solid white;
 
}


.host-content h2{
 font-size:32px;
 font-weight: bold;
 padding:18px 40px 16px 24px;
}

.host-content p{
  font-size:16px;
  font-weight: 400;
  padding:0 40px 16px 24px;
}


.icon{
 display: flex;
 gap:50px;
 margin-bottom:24px;
 margin-left:16px;
 padding-right: 40px;
 
}


.footer{
  height: 475px;
  margin-top: 120px;
  border:2px solid;
  background-image:url(../Images/footer-bg.png);
  color:z
  
}
.footer h1{
  font-size: 60px;
  font-weight: bolder;
  padding-top:80px;
  margin:120ox 475px 212px 475px;
  text-align: center;
}

.footer-icon{
  display:flex;
  justify-content: center;
  gap: 30px;
  font-size: 16px;
  font-weight:400;

  margin-bottom:56px;
}
.copyright{
  font-size: 14px;
  font-weight:400;
  text-align: center;
  margin: 0 120px 212px 120px;
}